In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [3]:
#load dataset
df=pd.read_csv('C:\\Users\\cvalley\\.jupyter\\MultipleBoston.csv')
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,NaN,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
df.nox.median()

0.538

In [5]:
import math
median_nox = math.floor(df.nox.median())
median_nox

0

In [6]:
df.nox.fillna(median_nox)

0      0.538
1      0.469
2      0.000
3      0.458
4      0.458
       ...
501    0.573
502    0.573
503    0.573
504    0.573
505    0.573
Name: nox, Length: 506, dtype: float64

In [7]:
df.nox=df.nox.fillna(median_nox)
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.000,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [8]:
lin=linear_model.LinearRegression()
lin.fit(df[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','b','lstat']],df.medv)

LinearRegression()

In [9]:
m_coef=lin.coef_
m_coef

array([-1.08640949e-01,  4.78263936e-02,  1.40653279e-02,  2.70550266e+00,
       -1.66547755e+01,  3.79305890e+00, -7.34860319e-04, -1.47265597e+00,
        3.04155031e-01, -1.23602381e-02, -9.39848017e-01,  9.37988596e-03,
       -5.23644447e-01])

In [10]:
intercept=lin.intercept_
intercept

35.82915030799546

In [11]:
medv= m_coef[0]* df['crim'] + m_coef[1]*df['zn'] + m_coef[2]*df['indus'] + m_coef[3] *df['chas']  + m_coef[4]*df['nox'] + m_coef[5]*df['rm'] + m_coef[6]*df['age'] + m_coef[7]*df['dis'] + m_coef[8]* df['rad'] + m_coef[9]* df['tax']  + m_coef[10]*df['ptratio'] + m_coef[11]*df['b'] + m_coef[12]*df['lstat'] + intercept
print(medv)

0      30.010824
1      24.921561
2      38.281277
3      28.566447
4      27.891238
         ...
501    23.559874
502    22.398488
503    27.611211
504    26.118550
505    22.361938
Length: 506, dtype: float64